:root {
    --primary-color: #FFFFFF;
    --secondary-color: #667085;
    --tertiary-color: #101828;
    --quaternary-color: #8E2424;
    --principal-font: 'Inter', sans-serif;
}

body {
    background-color: var(--primary-color);
    font-family: var(--principal-font); 
    font-size: 1rem; 
    font-weight: 400;  
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 7em;
} 

.header__logo {
    display: flex;
    align-items: center;
}

.logo__title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 1em;
}

.header__nav {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    align-items: center;
    font-weight: 500;
    flex-wrap: wrap;
}

.nav__item {
    margin-right: 2em;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    color: var(--secondary-color);
} 

.nav__link--signup {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    padding: 0.6em 1.1em;
    border: 1px solid var(--quaternary-color);
    border-radius: 8px;
}

/* Main */
/* 1° section */
.about-us {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.5em;
    margin: 6em 22%;
}

.about-us span {
    color: var(--quaternary-color);
    font-weight: 600;
}

.about-us h2 {
    color: var(--tertiary-color);
    font-size: 3rem;
    font-weight: 600;
}

.about-us__text {
    line-height: 150%;
    padding: 0.75em;
    color: var(--secondary-color);
    font-size: 1.25rem;
}

/* 2° section */
.metrics-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 5em 6em 5em;
    padding: 0em 2em;
}

.metrics-container div {
    margin: 0 2em;
}

.metrics-container__title {
    color: var(--quaternary-color);
    font-size: 3.75rem;
    font-weight: 600;
}

.metrics-container__subtitle {
    color: var(--tertiary-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.75em;
}

.metrics-container__text {
    color: var(--secondary-color);
    margin-top: 0.5em;
    line-height: 150%;
}


/* Footer */
